

<h1>Diary Entries</h1>
    <ul>
        <h3><li>Date: {{ date }}</li></h3>

        <h3><li>Time: {{ time }}</li></h3>

        <h3><li>Blood Sugar Level: {{ blood_sugar_level }}</li></h3>

        <h3><li>Food: {{ food }}</li></h3>

        <h3><li>Drinks: {{ drink }}</li></h3>

        <h3><li>Insulin: {{ Insulin }}</li></h3>
    </ul>


 <div class="col-lg-12">
                        <div class="table-responsive mb-3">
                            <table id="repair-table" class="data-table table table-striped mb-0 tbl-server-info"
                                   style="width:100%;">
                                <thead class="bg-white text-uppercase">
                                <tr class="ligth ligth-data">
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Blood Sugar Level</th>
                                    <th>Food</th>
                                    <th>Product Cost</th>
                                    <th>Time</th>
                                    <th>Drinks</th>
                                    <th>Insulin</th>
                                </tr>
                                </thead>
                                <tbody class="ligth-body">
                                <tr>
                                    <td>{{ date }}</td>
                                    <td>{{ time }}</td>
                                    <td>{{ blood_sugar_level }}</td>
                                    <td>{{ food}}</td>
                                    <td>{{ drink}}</td>
                                    <td>{{ Insulin }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
 </div>