

    <link href="" rel="stylesheet" />

    <script src="/static/add/jquery-1.11.3.min.js"></script>
    <script>
        $(function () {
            $('.tbody1').on("click", ".alonTr .innerbtn", function () {
                $(this).next('.pop_box').slideDown('400');
            })
            $('.tbody1').on("click", ".alonTr .closepop", function () {
                $('.pop_box').slideUp('400');
            })

            // add new row
            var show_count = 20;
            var count = 1;
            $(".AddTr").click(function () {
                var length = $(".tabInfo .tbody1>tr").length;
                //alert(length);
                if (length < show_count) {
                    $(".model1 tbody .alonTr").clone().appendTo(".tabInfo .tbody1");
                }
            });
        });


        function deltr(opp) {
            var length = $(".tabInfo .tbody1>tr").length;
            //alert(length);
            if (length <= 1) {
                alert("less one row");
            } else {
                $(opp).parent().parent().remove();//delete row
            }
        }
        // ----

    </script>
    <style>
        * {
            padding: 0px;
            margin: 0px;
            font-style: normal;
            list-style-type: none;
            text-decoration: none;
<!--            font-family: "微软雅黑";-->
            font-size: 14px;
            border: 0 none;
            line-height: 24px;
            color: #666;
        }

        table {
            table-layout: fixed;
            width: 100%;
        }

        input, button, select, textarea {
            outline: none;
            resize: none;
            padding: 3px 5px;
            border: 1px solid #ddd;
        }

            input:focus, textarea:focus {
                border: 1px solid #9ab6d6;
            }

        .whiteBg {
            background: #fff;
        }

        .normTbe {
            border-left: 1px solid #ddd;
            border-top: 1px solid #ddd;
        }

            .normTbe td, .normTbe th {
                border-bottom: 1px solid #ddd;
                border-right: 1px solid #ddd;
                padding: 15px;
                text-align: center;
            }

            .normTbe input {
                width: 80%;
                text-align: center;
            }

        .wrapper {
            width: 1140px;
            padding: 0 20px;
            margin: 0 auto;
            clear: both;
        }

        .hide {
            display: none;
        }

        .hideTr {
            background: #ddd;
        }

        .pop_box {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 99999;
        }

            .pop_box .bg {
                background: #000;
                opacity: 0.7;
                filter: alpha(opacity=70);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }

            .pop_box .contentP {
                position: relative;
                margin: 0 auto;
                margin-top: 10%;
                background: #fff;
                width: 80%;
            }

            .pop_box .PTit {
                height: 45px;
                background: #eee;
            }

                .pop_box .PTit h3 {
                    line-height: 45px;
                    float: left;
                    padding-left: 15px;
                    font-weight: normal;
                    font-size: 16px;
                }

                .pop_box .PTit a {
                    display: block;
                    width: 45px;
                    line-height: 45px;
                    text-align: center;
                    background: #ddd;
                    float: right;
                    font-size: 20px;
                }

                    .pop_box .PTit a:hover {
                        background: #50abfd;
                        color: #fff;
                    }

            .pop_box .textmian {
                padding: 15px;
            }

        .btn_a1 {
            padding-top: 15px;
        }

            .btn_a1 a {
                display: inline-block;
                *display: inline;
                *zoom: 1;
                width: 120px;
                line-height: 45px;
                background: #50abfd;
                color: #fff;
            }

            .btn_a1 .addtr2, .btn_a1 .dtadd {
                background: #ff9900;
            }
    </style>
</head>
<body>
    <div class="wrapper">
        <table cellspacing="0" cellpadding="0" border="0" class="normTbe model1 hide">
            <tbody>
                <tr class="alonTr">
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                    <td><input type="text" /></td>
                    <td>
<!--                        <a href="javascript:;" class="AddTr">add</a>-->
                        <a class="text_a" href="javascript:;" onclick="deltr(this)">delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="itemInfo">
            <table cellspacing="0" cellpadding="0" border="0" class="normTbe tabInfo">
                <thead>
                    <tr>
                        <th><label for="category">Category:</label></th>
                        <th><label for="description">Desc:</label></th>
                        <th><label for="portion">Portion:</label></th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody class="tbody1">
                    <tr>
                        <td><select id="category" name="category" class="form-control" action="{% url 'ajax_load_description' %}" style="display: inline; width: 150px; margin-top: 2px;">
                            <option value="">Choose One</option>
                              {% for cat in category %}
                                <option value="{{cat.id}}">{{cat.name}}</option>
                              {% endfor %}
                            </select>
                        </td>
                        <td><select id="description" name="description" class="form-control" action="{% url 'ajax_load_portion' %}" style="display: inline; width: 150px; margin:10px; margin-top: 2px;">
                            <option value="">Choose One</option>
                              {% for desc in description %}
                                <option value="{{desc.id}}">{{desc.name}}</option>
                              {% endfor %}
                            </select>
                        </td>
                        <td><select id="portion" name="portion" class="form-control" style="display: inline; width: 150px; margin:12px; margin-top: 2px;">
                                <option value="">Choose One</option>
                                  {% for port in portion %}
                                    <option value="{{port.id}}">{{port.name}}</option>
                                  {% endfor %}
                            </select>
                        </td>
                        <td>
                            <a href="javascript:;" class="AddTr">add</a>
<!--                            <a class="text_a" href="javascript:;" onclick="deltr(this)">delete</a>-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><!-- itemInfo -->
</body>
