{% load static %}
    <head>
      <!-- BEGIN: Title -->
      <title>Diatastic &mdash; Easily Manage Blood Sugar</title>
      <!-- END: Title -->


      <!-- BEGIN: Meta -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- END: Meta -->

      <!-- BEGIN: Stylesheets -->
      <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css">
      <link rel="stylesheet" href="/static/css/tiny-slider.css">
      <link rel="stylesheet" href="/static/fonts/lineicons/LineIcons.min.css">
      <link rel="stylesheet" href="/static/fonts/icomoon/style.css">
      <link rel="stylesheet" href="/static/css/animate.min.css">
      <link rel="stylesheet" href="/static/css/jquery.lavalamp.css">
      <link rel="stylesheet" href="/static/css/jquery.fancybox.min.css">
      <link rel="stylesheet" href="/static/css/style.css">
      <!-- END: Stylesheets -->
        <script src="/static/js/bot.js" defer></script>

    </head>


    <body>

      <!-- BEGIN: .site-wrap -->
      <div class="site-wrap">

        <!-- BEGIN: #site-header -->
        <header id="site-header">

          <!-- Add '.navbar_dark' class if you want the color of the text to -->
          <nav class="navbar navbar-expand-lg navbar-dark">
              <div style="margin-left:3%">
              <a class="navbar-brand" href="/index/">
              <img src="/static/images/icons8-rh-plus-gradient-32.png" >Diatastic
    <!--          <img src="../static/images/logo_dark.png" alt="Covid" id="logo_dark">-->
              </a>
              </div>
            <div class="container">

              <!-- BEGIN: .navbar-brand -->
<!--              <div style="margin-left:1%">-->
<!--              <a class="navbar-brand" href="/index/">-->
<!--              <img src="/static/images/icons8-rh-plus-gradient-32.png" >Diatastic-->
<!--    &lt;!&ndash;          <img src="../static/images/logo_dark.png" alt="Covid" id="logo_dark">&ndash;&gt;-->
<!--              </a>-->
<!--              </div>-->
              <!-- END: .navbar-brand -->

              <!-- BEGIN: .navbar-toggler -->
              <a href="#" class="burger-toggle-menu js-burger-toggle-menu ml-auto py-4" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
              </a>
              <!-- END: .navbar-toggler -->

              <!-- BEGIN: #main-nav -->
              <div class="collapse navbar-collapse" id="main-nav">

                <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/index/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/diary/">Diary</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/list_view/">History</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/carb_chart/">Metrics</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/guide/">Beginner's Guide</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/tips/">Tips and Tricks</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/faq/">FAQ</a>
                  </li>
                </ul>

              </div>
              <!-- END: #main-nav -->

            </div>
                <ul style="margin-right:1%;margin-top:1%;">
                {% if request.session.is_login %}
                  <li class="nav-item">
                    <a class="nav-link" href="#">User:{{ request.session.user_name }}</a>
                  </li>
                </ul>
                <ul style="margin-right:1%;margin-top:1%;">
                  <li class="nav-item">
                      <a class="nav-link" href="/logout/">Log out</a>
                  </li>
                </ul>
                  <ul>
                {% elif request.session.signup %}
                <ul style="margin-right:1%;margin-top:1%;">
                  <li class="nav-item">
                    <a class="nav-link" href="/login/">Login</a>
                  </li>
                {% else %}
                    <li class="nav-item">
                      <a class="nav-link" href="/login/">Sign Up</a>
                    </li>
                {% endif %}
                 </ul>
                </ul>
          </nav>
        </header>
        <!-- END: #site-header -->

        <!-- BEGIN: .cover -->
        <div class="cover overlay" style="background-image: url('/static/images/test.jpg');">
          <div class="container">
            <div style="display: flex; align-items:center; justify-content:center;" class="row align-items-center">
              <div class="col-12 col-lg-7" style="margin:0 auto;margin-top:10%">
                <h1 class="heading" style="text-align:center;">Diatastic</h1>
                  <span class="caption mb-3 d-block" style="text-align:center;margin-top:-4%">Diatastic is a one-stop-shop diabetes management website, allowing users to manage their disability with ease.</span>
              </div>
            <div class="col-12 col-lg-7" style="margin:0 auto;">
                <div style="margin-top:6%">
                    <iframe style="height: 315px;" width="560" height="315" src="https://www.youtube.com/embed/VglSquiCJxE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                </div>
            <div class="row no-gutters feature-29103 align-items-stretch" style="margin:0 auto;margin-top:-1%">
              <div class="col">
                <a href="/guide/" class="feature-item-29103 h-100">
                  <span class="heading d-block">Beginner's Guide</span>
                  <span class="excerpt">All the information you will need as a new diabetic, at your fingertips.</span>
                  <span class="more">More</span>
                </a>
              </div>
                                 &nbsp; &nbsp; &nbsp;
              <div class="col">
                <a href="/diary/" class="feature-item-29103 h-100">
                  <span class="heading d-block">Diary</span>
                  <span class="excerpt">Enter your blood sugars and food/drinks consumed, and receive a customized recommended insulin dosage.</span>

                  <span class="more">More</span>
                </a>
              </div>
                 &nbsp; &nbsp; &nbsp;
              <div class="col">
                <a href="/list_view/" class="feature-item-29103 h-100">
                  <span class="heading d-block">History</span>
                  <span class="excerpt">View your past entries for tracking your blood sugar levels and insulin used.</span>
                  <span class="more">More</span>
                </a>
              </div>
            </div>
            </div>
          </div>
        </div>
        <!-- END: .cover -->


        <!-- BEGIN: #main -->
        {% if request.session.is_login %}
        <div id="main">
          <!-- BEGIN: .news-updates-22796 -->
          <div class=" site-section bg-light news-updates-22796">
            <div class="container">
            <div style="height:300px;width:100%;">
                <canvas id="chartjs-line-chart"></canvas>
            </div>
                <br>
            <div style="height:300px;width:100%;">
                <canvas id="chartjs-line-chart2"></canvas>
            </div>
            <br>
            <div style="height:300px;width:100%;">
                <canvas id="chartjs-line-chart3"></canvas>
            </div>
            </div>
          </div>
        </div>
        {% else %}
          <!-- BEGIN: .news-updates-22796 -->
          <div class=" site-section bg-light news-updates-22796">
            <div class="container">
            <div style="height:300px;width:100%;">
                <canvas id="chartjs-line-chart4"></canvas>
            </div>
            </div>
          </div>
        {% endif %}
        <!-- END: #main -->

<!--         BEGIN: #footer-->
        <footer id="footer">
          <div class="container">

            <!-- BEGIN: .footer-subscribe -->
            <div class="row footer-subscribe">
              <div class="col-md-6">
                <h3 class="mt-2"></h3>
              </div>
              <div class="col-md-6">
              </div>
            </div>
            <!-- END: .footer-subscribe -->

            <div class="row">
              <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                <!-- BEGIN: .widget -->
                <div class="widget">
                  <h3>Our Motivation.</h3>
                </div>
                <!-- END: .widget -->
              </div>
              <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                <!-- BEGIN: .widget -->
                <div class="widget">
                  <h3>Our Job.</h3>
                </div>
                <!-- END: .widget -->
              </div>
              <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                <!-- BEGIN: .widget -->
                <div class="widget">
                  <h3>Our Data.</h3>
                </div>
                <!-- END: .widget -->
              </div>
              <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                <div class="d-block">
                </div>
                <div class="d-block">
                  <p>If you have any question, please contact us at <a href="#" class="link-underline text-primary">info@diatastic.tk</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-6 text-center text-md-left">
                <p>Diatastic is a management tool created for diabetics, to help them manage their disability. Our website is intended to be an everyday companion for diabetics, giving them the motivation and tools necessary to live happy and healthy lives.</a></p>
              </div>
            <!-- BEGIN: .copyright -->
            <div class="row copyright">
              <div class="col-md-6 order-2 text-center text-md-right"><a href="#" class="js-top"><span class="icon-long-arrow-up mr-2"></span> Go to Top</a></div>
<!--              <div class="col-md-6 text-center text-md-left">-->
<!--                <p>Diatastic is a management tool created for diabetics, to help them manage their disability. Our website is intended to be an everyday companion for diabetics, giving them the motivation and tools necessary to live happy and healthy lives.</a></p>-->
<!--              </div>-->
            </div>
            <!-- END: .copyright -->
          </div>
        </footer>
<!--         END: #footer -->

      </div>
      <!-- END: .site-wrap -->

      <!-- Loader -->
      <div id="site-overlayer"></div>
      <div class="site-loader-wrap">
        <div class="site-loader"></div>
      </div>

      <!-- BEGIN: JavaScripts -->
      <script src="/static/js/jquery-3.4.1.min.js"></script>
      <script src="/static/js/popper.min.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>
      <script src="/static/js/jquery.waypoints.min.js"></script>
      <script src="/static/js/jquery.animateNumber.min.js"></script>
      <script src="/static/js/tiny-slider.js"></script>
      <script src="/static/js/jquery.fancybox.min.js"></script>
      <script src="/static/js/jquery.lavalamp.min.js"></script>
      <script src="/static/js/jquery.ajaxchimp.min.js"></script>
      <script src="/static/js/jquery.validate.min.js"></script>
      <script src="/static/js/jquery.easing.1.3.js"></script>
      <script src="/static/js/main.js"></script>
      <!-- END: JavaScripts -->

      <!--   Core JS Files   -->
    <!--  <script src="../static/assets/plugins/jquery/jquery-3.2.1.min.js" type="text/javascript"></script>-->
      <script src="/static/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
      <script src="/static/assets/plugins/backstretch/backstretch.js" type="text/javascript"></script>
      <!-- END: JavaScripts -->

    <!--  BEGIN: Core Chart Files   -->
    <script src="/static/chart/Chart.min.js"></script>
    <!-- END: Core Chart Files -->

    </body>

<!--bsl-->
<script>
var y_bsl = {{y_bsl | escapejs}};
var times = [1,2,3,4,5,6,7,8,9,10];
window.chartColors = {
    red: 'rgb(255, 99, 132)',
    orange: 'rgb(255, 159, 64)',
    yellow: 'rgb(255, 205, 86)',
    green: 'rgb(75, 192, 192)',
    blue: 'rgb(54, 162, 235)',
    purple: 'rgb(153, 102, 255)',
    grey: 'rgb(201, 203, 207)'
};

var lineConfig = {
    type: 'line',
    data: {
        labels: times,
        datasets: [{
            label: "Blood Sugar Level",
            backgroundColor: window.chartColors.red,
            borderColor: window.chartColors.red,
            data: y_bsl,
            fill: false,
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        title: {
            display: true,
            text: 'Blood Sugar Level'
        },
        tooltips: {
            mode: 'index',
            intersect: false,
        },
        hover: {
            mode: 'nearest',
            intersect: true
        },
        scales: {
            xAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Last 10 entries'
                }
            }],
            yAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'mmol/L'
                }
            }]
        }
    }
};



var lineCtx = document.getElementById("chartjs-line-chart").getContext("2d");
window.myLine = new Chart(lineCtx, lineConfig);

</script>

<!--carb-->
<script>
var y_carb = {{y_carb | escapejs}};
var times = [1,2,3,4,5,6,7,8,9,10];
        window.chartColors = {
            red: 'rgb(255, 99, 132)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green: 'rgb(75, 192, 192)',
            blue: 'rgb(54, 162, 235)',
            purple: 'rgb(153, 102, 255)',
            grey: 'rgb(201, 203, 207)'
        };

        var lineConfig = {
            type: 'line',
            data: {
                labels: times,
                datasets: [{
                    label: "Carbohydrates",
                    backgroundColor: window.chartColors.blue,
                    borderColor: window.chartColors.blue,
                    data: y_carb,
                    fill: false,
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: 'Carbohydrates'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Last 10 entries'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Grams'
                        }
                    }]
                }
            }
        };



        var lineCtx2 = document.getElementById("chartjs-line-chart2").getContext("2d");
        window.myLine = new Chart(lineCtx2, lineConfig);

</script>

<!--isl-->
<script>
var y_isl = {{y_isl | escapejs}};
var times = [1,2,3,4,5,6,7,8,9,10];
        window.chartColors = {
            red: 'rgb(255, 99, 132)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green: 'rgb(75, 192, 192)',
            blue: 'rgb(54, 162, 235)',
            purple: 'rgb(153, 102, 255)',
            grey: 'rgb(201, 203, 207)'
        };
        var lineConfig = {
            type: 'line',
            data: {
                labels: times,
                datasets: [{
                    label: "Insulin",
                    backgroundColor: window.chartColors.green,
                    borderColor: window.chartColors.green,
                    data: y_isl,
                    fill: false,
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: 'Insulin'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Last 10 entries'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Units'
                        }
                    }]
                }
            }
        };




        var lineCtx3 = document.getElementById("chartjs-line-chart3").getContext("2d");
        window.myLine = new Chart(lineCtx3, lineConfig);

</script>

<!--example-->
<script>
var times = [1,2,3,4,5,6,7,8,9,10];
window.chartColors = {
    red: 'rgb(255, 99, 132)',
    orange: 'rgb(255, 159, 64)',
    yellow: 'rgb(255, 205, 86)',
    green: 'rgb(75, 192, 192)',
    blue: 'rgb(54, 162, 235)',
    purple: 'rgb(153, 102, 255)',
    grey: 'rgb(201, 203, 207)'
};

window.randomScalingFactor = function () {
    return (Math.random() > 0.5 ? 1.0 : 0) * Math.round(Math.random() * 10);
};




var lineConfig = {
    type: 'line',
    data: {
        labels:times,
        datasets: [{
            label: "Blood Sugar Level & Carbohydrates & Insulin",
            backgroundColor: window.chartColors.red,
            borderColor: window.chartColors.red,
            data: [
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
            ],
            fill: false,
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        title: {
            display: true,
            text: 'This is the example chart shows the last three days data,please login to check it.'
        },
        tooltips: {
            mode: 'index',
            intersect: false,
        },
        hover: {
            mode: 'nearest',
            intersect: true
        },
        scales: {
            xAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Last 10 entries'
                }
            }],
            yAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'mmol/L && Grams && Units '
                }
            }]
        }
    }
};




var lineCtx4 = document.getElementById("chartjs-line-chart4").getContext("2d");
window.myLine = new Chart(lineCtx4, lineConfig);

</script>

</script>
